body {
    font-family: Arial, sans-serif;
}

.block-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#blocked-games {
    list-style-type: none;
    padding: 0;
}

#blocked-games li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

#blocked-games li:last-child {
    border-bottom: none;
}
